.numero1{
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.numero2{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.numero3{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* Parte Introducion*/
.reducir {
    font-size: 32px; 
}

.reducir_horarios {
    font-size: 15px; 
}

@media (max-width: 1220px) { 
    .reducir {
        font-size: 25px; 
    }
}

@media (max-width: 1070px) { 
    .reducir {
        font-size: 23px; 
    }
    .reducir_horarios {
        font-size: 13px; 
    }

}

@media (max-width: 975px) { 
    .reducir {
        font-size: 20px; 
    }
    .reducir_horarios {
        font-size: 11px; 
    }
}

@media (max-width: 870px) { 
    .reducir {
        font-size: 17px; 
    }
    .reducir_horarios {
        font-size: 8px; 
    }
}

@media (max-width: 767px) { 
    .reducir {
        font-size: 23px; 
    }
    .reducir_horarios {
        font-size: 13px; 
    }
}

.titulo{
    font-family: "Protest Guerrilla", sans-serif;
}

.introduccion {
    border-radius: 50px;
    background-color: aquamarine;
    padding: 1.5em;
}

/*Nuestros locales*/
.card-body{
    border-top: 1px solid black;
}

.presentacionLocal{
    border: 2px solid black;
}

@media (max-width: 375px) { 
    .col-6.col-md-4 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}



.separadorVertical {
    border-left: 2px solid black;
}

.img-fluid{
    border-radius: 50px;
}

.centrar{
    align-items: center;
    margin:auto;
}

/*Hoja de estilo del footer(En caso de usar el footer en otras paginas (agregar los estilos en la hoja de estilos correspondiente)*/
.text-white a {
    color: white !important;
}
@media (max-width: 767px) {
    .sacar_borde_derecho {
        border-right: 1px solid white;
    }
    .sacar_borde_superior {
        border-top: 1px solid white;
    }
}
