@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/*CSS de los login*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: flex; 
    min-height: 100vh;
    background-color: #000000;
    opacity: 0.9;
    background-image:  linear-gradient(30deg, #2c2828 12%, transparent 12.5%, transparent 87%, #2c2828 87.5%, #2c2828), linear-gradient(150deg, #2c2828 12%, transparent 12.5%, transparent 87%, #2c2828 87.5%, #2c2828), linear-gradient(30deg, #2c2828 12%, transparent 12.5%, transparent 87%, #2c2828 87.5%, #2c2828), linear-gradient(150deg, #2c2828 12%, transparent 12.5%, transparent 87%, #2c2828 87.5%, #2c2828), linear-gradient(60deg, #2c282877 25%, transparent 25.5%, transparent 75%, #2c282877 75%, #2c282877), linear-gradient(60deg, #2c282877 25%, transparent 25.5%, transparent 75%, #2c282877 75%, #2c282877);
    background-size: 64px 112px;
    background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
    overflow: hidden;
    
}
.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 2.5em 2.5em;
    border-radius: 10px;
    box-shadow: 0 0px 10px 3px rgb(0 0 0 / 30%);
    text-align: center;
    position: relative;
}

.form_titulo{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_parrafo{
    font-weight: 300;
    gap: 1em;
}


.form_contenedor{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_grupo{
    position: relative;
    --color: #5757577e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form_input:not(:placeholder-shown) { 
    color: #4d6464;
}

.form_input:focus + .form_label, 
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin:left top ;
    color: #3866f2;
}


.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top :0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.logitoOjo{
    width: 1.3em;
    height: 1.3em;
    right:10px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.logito1{
    width: 1.3em;
    height: 1.3em;
    right:10px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}


.form_input:focus + .form_line, .form_input:not(:placeholder-shown) + .form_line{
    transform: scale(1);
}

@media (max-width: 425px){
    .form_titulo{
        font-size: 1.8rem;
    }
}

/*Estilo de los checkbox*/
.conteiner{
    display: flex;
    gap: 20px;
}

.box{
    display: inline-block;
    margin-right: 20px;
}

/*Botones*/
button {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}


button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0A306D;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition:  all 250ms;
}

button:hover {
    color: #e8e8e8;
}
button:hover::before {
    width: 100%;
}



/*Separador */
.separador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.separador > span{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.separador > div {
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: #666;
}

/*Estilo de los links*/

a {
    text-decoration: none;
}

.form_link{
    font-weight: 400;
    color:#0A306D;
    line-height: 2;
    position: relative;
}

.form_link::before{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #0A306D;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}

.form_link:hover::before{
    width: 100%;
}

/*Estilo de la modal*/
